
li{
 list-style: none;
}

h1{
 text-align: center;
}

label {
 text-align: center;
 width: 23%;
 display: inline-block;
 margin: 8px auto;
 text-decoration: none;
 border: 1px black solid;
}

input {
 width: 35%;
 box-sizing: border-box;
 border: 5px red;
 border-style: groove;
 padding: 2px 2px;
 margin: 8px 8px;
 border-radius: 6px;
}

