#body-background{
 background-image: url(../images/scarymansion.png);
 background-repeat: repeat-y;
 width: 100%;
 height: auto;
}

#scary {
 display: block;
 width: 80%;
 height: 10%;
 margin: auto;
}

#container {
 border-radius: 5%;
 padding-top: 4px;
 background: rgba(0, 0, 0, .6);
 width: 80%;
 margin: 2% auto;
 padding: 3px 3px;
}

#input-submit {
 padding-left: 17%;
 margin: 2px 2px;
}

#Halloween, #Scream, #NES{
 width: 45%;
 display: inline-block;
}

#results {}

.fontfamily{ 
 font-family: 'Creepster', cursive;
 color: red;
}

.fontsize {
 font-size: 2.441rem;
}

h1{
 text-align: center;
 padding: 2% 0 2% 0;
}

label {
 text-align: center;
 width: 15%;
 border: 1px;
 margin: 8px auto;
 font-size: 2.441rem;
 text-decoration: none;
}

button {
 width: 30%;
 box-sizing: border-box;
 border: 5px red groove;
 margin: 2px 2px;
 border-radius: 6px;
}

input {
 width: 90%;
 box-sizing: border-box;
 border: 5px red groove;
 padding: 8px 8px;
 margin: 12px 12px;
 border-radius: 6px;
}

@media screen and (min-width:510px) {
 #container{
  padding-top: 4px;
  width: 60%;
 }

 #scary{
 width: 60%;
 height: 10%;
 }

 label {
  font-size: 1.953rem;
 }

 input {
  width: 45%;
 }

 #Halloween, #Scream, #NES{
  width: 45%;
  padding: 2px 2px;
  margin: 8px 8px;
 }

 .fontsize {
  font-size: 1.953rem;
 }

}

@media screen and (min-width:840px) {
 #container{
  width: 55%;
 }

 #scary{
 width: 40%;
 height: 10%;
 }

 label {
  font-size: 1.563rem;
 }

 input {
  width: 50%;
 }

 #Halloween, #Scream, #NES{
  width: 12%;
  padding: 2px 2px;
  margin: 8px 8px;
 }

 .fontsize {
  font-size: 1.563rem;
 }
}