h1{
 text-align: center;
}

input {
 text-align: center;
 width: 35%;
 display: block;
 margin: 8px 8px;
 padding: auto;
 box-sizing: border-box;
 border: 5px dotted navy;
 border-radius: 6px;
}

label {
 text-align: center;
 width: 15%;
 display: block;
}