#body-background{
 background-image: url(../images/scarymansion.png);
 background-repeat: repeat-y;
 width: 100%;
 height: auto;
}

#container {
 border-radius: 5%;
 padding-top: 4px;
 background-color: black;
 width: 80%;
 margin: 2% auto;
 padding: 3px 3px;
}

#input-submit {
 padding-left: 17%;
 margin: 2px 2px;
}

#Halloween, #Scream, #NES{
 width: 5%;
}

#results {}

.fontfamily{ 
 font-family: 'Creepster', cursive;
 color: red;
}

.fontsize {
 font-size: .50em;
}

h1{
 text-align: center;
 padding: 2% 0 2% 0;
}

label {
 text-align: center;
 width: 15%;
 display: inline-block;
 border: 1px;
 margin: 8px auto;
 text-decoration: none;
}

button {
 width: 30%;
 box-sizing: border-box;
 border: 5px red groove;
 margin: 2px 2px;
 border-radius: 6px;
}

input {
 width: 90%;
 box-sizing: border-box;
 border: 5px red groove;
 padding: 8px 8px;
 margin: 12px 12px;
 border-radius: 6px;
}

@media screen and (min-width:510px) {
 #container{
  padding-top: 4px;
  background-color: black;
  width: 60%;
 }

 input {
  width: 45%;
 }

 #Halloween, #Scream, #NES{
  width: 15%;
  padding: 2px 2px;
  margin: 8px 8px;
 }

 .fontsize {
  font-size: .80em;
 }

}

@media screen and (min-width:840px) {
 #container{
  width: 40%;
  margin: 2% 2%;
 }

 input {
  width: 50%;
 }

 #Halloween, #Scream, #NES{
  width: 20%;
  padding: 2px 2px;
  margin: 8px 8px;
 }

 .fontsize {
  font-size: 1em;
 }
}