#body-background{
 background-image: url(../images/scarymansion.png);
 background-repeat: repeat-y;
 width: 100%;
 height: auto;
}

#container {
 padding-top: 4px;
 background-color: black;
 width: 80%;
 margin: 0 auto;
}

.fontfamily{ 
 color: white;
}

h1{
 float: left;
 font-size: x-large;
 margin: 8px auto;
}

h3{
 text-align: center;
 padding-top: 4px;
}

label {
 text-align: center;
 width: 15%;
 display: inline-block;
 border: 1px;
 margin: 8px auto;
 text-decoration: none;
}

input {
 width: 35%;
 box-sizing: border-box;
 border: 5px red;
 border-style: groove;
 padding: 2px 8px;
 margin: 12px 12px;
 border-radius: 6px;
}

#input-submit {
 padding-left: 17%;
 margin: 2px 2px;
}

#Halloween, #Scream, #NES{
 width: 5%;
}

@media screen and (min-width:510px) {
 #container{
  padding-top: 4px;
  background-color: black;
  width: 60%;
  float: right;
  clear: right;
  margin: 5px 5px;
 }

 input {
  width: 45%;
 }

 #Halloween, #Scream, #NES{
  width: 15%;
  padding: 2px 2px;
  margin: 8px 8px;
 }

}

@media screen and (min-width:720px) {
 #container{
  width: 40%;
  float: right;
  clear: right;
  margin: 5px 5px;
 }

 input {
  width: 50%;
 }

 #Halloween, #Scream, #NES{
  width: 20%;
  padding: 2px 2px;
  margin: 8px 8px;
 }
}