
li{
 list-style: none;
}

h1{
 text-align: center;
}

label {
 text-align: center;
 width: 15%;
 display: inline-block;
 border: 1px;
 margin: 8px auto;
 text-decoration: none;
}

input {
 width: 35%;
 box-sizing: border-box;
 border: 5px red;
 border-style: groove;
 padding: 2px 2px;
 margin: 8px 8px;
 border-radius: 6px;
}

#Halloween, #Scream, #NES{
 width: 5%;
}

@media screen and (min-width:510px) {
 #container{
  border: 5px red groove;
  width: 60%;
  float: right;
  clear: right;
  margin: 5px 5px;
 }

 input {
  width: 45%;
 }

 #Halloween, #Scream, #NES{
  width: 15%;
  padding: 2px 2px;
  margin: 8px 8px;
 }

}

@media screen and (min-width:720px) {
 #container{
  border: 5px red groove;
  width: 65%;
  float: right;
  clear: right;
  margin: 5px 5px;
 }

 input {
  width: 50%;
 }

 #Halloween, #Scream, #NES{
  width: 20%;
  padding: 2px 2px;
  margin: 8px 8px;
 }
}