
li{
 list-style: none;
}

h1{
 text-align: center;
}

label {
 width: 20%;
 display: inline-block;
 margin: 8px auto;
 text-decoration: none;
}

input {
 text-align: center;
 width: 35%;
 margin: 8px 8px;
 padding: auto;
 box-sizing: border-box;
 border: 5px red;
 border-style: groove;
 border-radius: 6px;
}
